@media screen and (max-width: 768px) { 
     .container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
     }

     .informacoes {
          text-align: center;          justify-content: center;
     }

     .container.informacoes.titulo {
          margin-top: 45px;
     }

     .formulario {
          margin-top: 30px;
     }    
}

@media screen and (max-width: 425px) {

     .informacoes .titulo{
          margin-bottom: 40px;
     }
    
     .formulario{
          margin-top: 50px;
     }
}

@media screen and (max-width: 320px) {
     .formulario{
          margin-top: 85px;
     }
}
